In [2]:
#建立list
empty_list = [] #空的list
another_empty_list = list() #空的list
weekdays = ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']
big_birds = ['emu', 'ostrich', 'cassowary'] 
first_names = ['Graham', 'John', 'Terry', 'Terry', 'Michael'] #元素的內容可以是相同的

print(empty_list)
print(weekdays)

[]
['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']

In [4]:
weekdays_tuple = ('星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日')
weekdays_tuple

('星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日')

In [5]:
list("cat")

['c', 'a', 't']

In [6]:
list(range(1,50))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [7]:
a_tuple = ('ready', 'fire', 'aim')
list(a_tuple)

['ready', 'fire', 'aim']

In [8]:
birthday = '1/6/1952'
birthday.split('/')

['1', '6', '1952']

In [9]:
import re
birthday = '1/6/1952'
newList=re.split(r'/', birthday)
newList

['1', '6', '1952']

In [12]:
citys = ['台北', '台中', '高雄']
print(citys[0])
print(citys[1])
print(citys[2])
print("===========")
for city in citys:
    print(city)

台北
台中
高雄
===========
台北
台中
高雄

In [13]:
citys = ['台北', '台中', '高雄']
print(citys[0])
print(citys[1])
print(citys[2])

台北
台中
高雄

In [14]:
print(citys[-1])
print(citys[-2])
print(citys[-3])

高雄
台中
台北

In [16]:
list1 = list("HelloWorld")
list1

['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

In [19]:
list1[1:5]

['e', 'l', 'l', 'o']

In [20]:
list1[:5] #前5個

['H', 'e', 'l', 'l', 'o']

In [21]:
list1[-5:] #後5個

['W', 'o', 'r', 'l', 'd']

In [22]:
#修改元素內容
citys = ['台北', '台中', '高雄']
citys[0] = '花蓮'
citys

['花蓮', '台中', '高雄']

In [23]:
#2維list
nb = ['筆記電腦', '商用筆電']
mobile = ['APPLE', 'ASUS', 'HTC']
home = [3, '冰箱', 2, '洗衣機'] #元素的內容可以不同的型別
all3c = [nb, mobile, home]
all3c

[['筆記電腦', '商用筆電'], ['APPLE', 'ASUS', 'HTC'], [3, '冰箱', 2, '洗衣機']]

In [25]:
all3c[0].__class__

list

In [26]:
all3c[1]

['APPLE', 'ASUS', 'HTC']

In [28]:
list1 = ['a', 'b', 'c']
print("附加之前:", list1)
print("附加之前長度 = ", len(list1))

附加之前: ['a', 'b', 'c']
附加之前長度 =  3

In [29]:
list1.append('d')
list1.append('e')
print("附加之前:", list1)
print("附加之前長度 = ", len(list1))

附加之前: ['a', 'b', 'c', 'd', 'e']
附加之前長度 =  5

In [30]:
list1 = ['a', 'b', 'c']
list1.append(['d','e']) #一次只可以加一個值
print("附加之前:", list1)
print("附加之前長度 = ", len(list1))

附加之前: ['a', 'b', 'c', ['d', 'e']]
附加之前長度 =  4

In [32]:
#extend()
list1 = ['a', 'b', 'c']
list1.extend(['d','e'])
print("附加之前:", list1)
print("附加之前長度 = ", len(list1))

附加之前: ['a', 'b', 'c', 'd', 'e']
附加之前長度 =  5

In [33]:
#數學運算子的加法(+)
list1 = ['a', 'b', 'c']
list1 += ['d', 'e']
print("附加之前:", list1)
print("附加之前長度 = ", len(list1))

附加之前: ['a', 'b', 'c', 'd', 'e']
附加之前長度 =  5

In [35]:
list1 = ['this', 'is', 'list']
print(list1)
list1.insert(1, 'item')
print(list1)

['this', 'is', 'list']
['this', 'item', 'is', 'list']

In [37]:
#移除 remove(), pop(), del
citys = ['台北', '台中', '高雄', '台南', '花蓮']
del citys

NameError: name 'citys' is not defined

In [38]:
citys = ['台北', '台中', '高雄', '台南', '花蓮']
del citys[-1]
print(citys)

['台北', '台中', '高雄', '台南']

In [45]:
#remove(元素內容)
all3c = ['筆記電腦', '商用筆電', 'APPLE', 'ASUS', 'HTC'] 
if 'APPLE' in all3c:
    all3c.remove('APPL')
    print('移除成功')
else:
    print('沒有這個資料')
print(all3c)

沒有這個資料
['筆記電腦', '商用筆電', 'APPLE', 'ASUS', 'HTC']

In [48]:
#pop(索引編號)
all3c = ['筆記電腦', '商用筆電', 'APPLE', 'ASUS', 'HTC']
print(all3c.pop(0))
print(all3c)

筆記電腦
['商用筆電', 'APPLE', 'ASUS', 'HTC']

In [50]:
#index(內容)
citys = ['台北', '台中', '高雄', '台南', '花蓮'] 
citys.index('台中')

1

In [51]:
citys = ['台北', '台中', '高雄', '台南', '花蓮'] 
citys.index('台中1')

ValueError: '台中1' is not in list

In [52]:
#count(內容)
citys = ['台北', '台中', '高雄', '台南', '花蓮'] 
citys.count('台中')

1

In [53]:
citys = ['台北', '台中', '高雄', '台南', '花蓮'] 
citys.count('台中1')

0

In [55]:
#remove(元素內容)
all3c = ['筆記電腦', '商用筆電', 'APPLE', 'ASUS', 'HTC'] 
removeE = 'APPL'
if all3c.count(removeE) > 0:
    all3c.remove(removeE)
    print('移除成功')
else:
    print('沒有這個資料')
print(all3c)

沒有這個資料
['筆記電腦', '商用筆電', 'APPLE', 'ASUS', 'HTC']