In [2]:
#建立list
empty_list = [] #空的list
another_empty_list = list() #空的list
weekdays = ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']
big_birds = ['emu', 'ostrich', 'cassowary'] 
first_names = ['Graham', 'John', 'Terry', 'Terry', 'Michael'] #元素的內容可以是相同的

print(empty_list)
print(weekdays)

[]
['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']

In [4]:
weekdays_tuple = ('星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日')
weekdays_tuple

('星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日')

In [5]:
list("cat")

['c', 'a', 't']

In [6]:
list(range(1,50))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [7]:
a_tuple = ('ready', 'fire', 'aim')
list(a_tuple)

['ready', 'fire', 'aim']

In [8]:
birthday = '1/6/1952'
birthday.split('/')

['1', '6', '1952']

In [9]:
import re
birthday = '1/6/1952'
newList=re.split(r'/', birthday)
newList

['1', '6', '1952']

In [12]:
citys = ['台北', '台中', '高雄']
print(citys[0])
print(citys[1])
print(citys[2])
print("===========")
for city in citys:
    print(city)

台北
台中
高雄
===========
台北
台中
高雄