In [1]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1    0.316294
   2    0.549688
   3   -0.255384
b  1    0.093531
   2    0.091141
c  3    0.259497
   1    0.969779
d  2    0.389981
   3    0.489744
dtype: float64

In [2]:
data['a']

1    0.316294
2    0.549688
3   -0.255384
dtype: float64

In [3]:
data['d']

2    0.389981
3    0.489744
dtype: float64

In [4]:
data['c':'d']

c  3    0.259497
   1    0.969779
d  2    0.389981
   3    0.489744
dtype: float64

In [8]:
unstackData=data.unstack()
unstackData

          1         2         3
a  0.316294  0.549688 -0.255384
b  0.093531  0.091141       NaN
c  0.969779       NaN  0.259497
d       NaN  0.389981  0.489744

In [9]:
unstackData.stack()

a  1    0.316294
   2    0.549688
   3   -0.255384
b  1    0.093531
   2    0.091141
c  1    0.969779
   3    0.259497
d  2    0.389981
   3    0.489744
dtype: float64