In [2]:
import numpy as np
import pandas as pd

index = [('台北', 2019), ('台北', 2020),
         ('台中', 2019), ('台中', 2020),
         ('台南', 2019), ('台南', 2020)]

populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561]

index = pd.MultiIndex.from_tuples(index,names=['縣市','年'])
pop = pd.Series(populations,index=index)
pop

縣市  年
台北  2019    33871648
    2020    37253956
台中  2019    18976457
    2020    19378102
台南  2019    20851820
    2020    25145561
dtype: int64

In [3]:
pop_df=pop.unstack()
pop_df

年       2019      2020
縣市
台中  18976457  19378102
台北  33871648  37253956
台南  20851820  25145561