In [2]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
                    columns=list('bde'),
                    index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北 -0.545793  0.423512 -0.772525
台中 -1.831410  1.412941  0.921428
台南  0.382137 -0.357315 -1.048640
高雄 -1.896028 -0.767116 -1.083698

In [3]:
np.abs(frame) #numpy的運算也可以用在pandas

           b         d         e
台北  0.545793  0.423512  0.772525
台中  1.831410  1.412941  0.921428
台南  0.382137  0.357315  1.048640
高雄  1.896028  0.767116  1.083698