In [1]:
import pandas as pd
objs = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
objs

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [5]:
#reindex()實體方法->重新改變索引
#reindex()重新排序索引或保留想要的索引
objs.reindex(['a', 'b', 'c', 'd'])

a   -5.3
b    7.2
c    3.6
d    4.5
dtype: float64

In [8]:
objs.reindex(['a', 'b', 'c'])

a   -5.3
b    7.2
c    3.6
dtype: float64

In [11]:
#DataFrame可以使用reindex()改變列或欄的排序或保留想要的索引
import numpy as np
#np.arange(9).reshape(3,3)使用ndarray來建立DataFrame
frame = pd.DataFrame(np.arange(9).reshape(3,3),index=['a','c','d'],columns=['台北', '台中', '高雄'])
frame

   台北  台中  高雄
a   0   1   2
c   3   4   5
d   6   7   8

In [12]:
frame.reindex(['a', 'd', 'c'])

   台北  台中  高雄
a   0   1   2
d   6   7   8
c   3   4   5

In [13]:
frame.reindex(['a', 'c'])

   台北  台中  高雄
a   0   1   2
c   3   4   5

In [15]:
#reindex(columns=[])改變欄位的索引
frame.reindex(columns=['台北', '高雄', '台中'])

   台北  高雄  台中
a   0   2   1
c   3   5   4
d   6   8   7

In [16]:
#reindex(columns=[])保留欄位的索引
frame.reindex(columns=['台北', '台中'])

   台北  台中
a   0   1
c   3   4
d   6   7