In [1]:
import numpy as np
import pandas as pd

frame=pd.read_csv('ex6.csv')
frame

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [3]:
frame['key'][:30]

0     L
1     B
2     G
3     R
4     Q
5     Q
6     U
7     K
8     S
9     G
10    8
11    R
12    1
13    P
14    J
15    E
16    B
17    A
18    F
19    H
20    W
21    C
22    C
23    V
24    I
25    S
26    L
27    6
28    J
29    Y
Name: key, dtype: object

In [4]:
#set_index()
frame1 = frame.set_index('key')
frame1

          one       two     three      four
key
L    0.467976 -0.038649 -0.295344 -1.824726
B   -0.358893  1.404453  0.704965 -0.200638
G   -0.501840  0.659254 -0.421691 -0.057688
R    0.204886  1.074134  1.388361 -0.982404
Q    0.354628 -0.133116  0.283763 -0.837063
..        ...       ...       ...       ...
L    2.311896 -0.417070 -1.409599 -0.515821
E   -0.479893 -0.650419  0.745152 -0.646038
K    0.523331  0.787112  0.486066  1.093156
G   -0.362559  0.598894 -1.843201  0.887292
0   -0.096376 -1.012999 -0.657431 -0.573315

[10000 rows x 4 columns]

In [7]:
frame2=frame1.mean(level='key')
frame2

          one       two     three      four
key
L    0.050709 -0.050057 -0.074203 -0.017332
B    0.051128  0.072569  0.000480 -0.020866
G   -0.056755  0.097107 -0.078394  0.006017
R    0.122431  0.026587  0.031024 -0.004190
Q   -0.039211  0.004959  0.005451  0.078698
U    0.052051  0.000100  0.084444  0.016487
K    0.154776 -0.006967 -0.032523  0.014457
S    0.075234  0.023438  0.011438 -0.008433
8   -0.000086  0.033920  0.046734 -0.039579
1    0.078258  0.028171  0.015529 -0.034749
P    0.029090 -0.053809 -0.112496  0.071654
J    0.048195  0.008058 -0.031860 -0.049097
E    0.021326  0.013256  0.029329 -0.012498
A    0.121554  0.008213 -0.017331  0.013399
F    0.080299 -0.049985 -0.094597 -0.041401
H   -0.021462 -0.030257 -0.026333  0.050135
W    0.161682  0.021611 -0.038462  0.029703
C    0.024785 -0.014261 -0.035790 -0.073881
V   -0.010743  0.015696 -0.011879 -0.014628
I    0.024919  0.064177 -0.107866 -0.012442
6    0.141844  0.012700 -0.116375 -0.004641
Y    0.054109 -0.026101 -0.001929  0.058042
T    0.158278 -0.026705 -0.082465 -0.005521
M    0.003511  0.037562 -0.098078  0.017790
X    0.076329  0.013918 -0.103723  0.056276
N    0.049018 -0.070432 -0.025592  0.074807
O   -0.029163 -0.106652 -0.032209  0.033589
Z   -0.007478  0.015352  0.037670  0.026862
2   -0.079127  0.056278  0.054493  0.072901
D    0.007192  0.014230 -0.055741  0.044793
7    0.082868 -0.074134 -0.052229 -0.054561
0    0.011029  0.117506  0.062792  0.041374
4    0.019702 -0.020854 -0.069703  0.113746
5   -0.135921 -0.005292  0.124046  0.043109
3    0.259878 -0.088436  0.108124  0.172651
9    0.065101  0.033411 -0.038388 -0.004449

In [8]:
#sort_index()
frame2.sort_index()

          one       two     three      four
key
0    0.011029  0.117506  0.062792  0.041374
1    0.078258  0.028171  0.015529 -0.034749
2   -0.079127  0.056278  0.054493  0.072901
3    0.259878 -0.088436  0.108124  0.172651
4    0.019702 -0.020854 -0.069703  0.113746
5   -0.135921 -0.005292  0.124046  0.043109
6    0.141844  0.012700 -0.116375 -0.004641
7    0.082868 -0.074134 -0.052229 -0.054561
8   -0.000086  0.033920  0.046734 -0.039579
9    0.065101  0.033411 -0.038388 -0.004449
A    0.121554  0.008213 -0.017331  0.013399
B    0.051128  0.072569  0.000480 -0.020866
C    0.024785 -0.014261 -0.035790 -0.073881
D    0.007192  0.014230 -0.055741  0.044793
E    0.021326  0.013256  0.029329 -0.012498
F    0.080299 -0.049985 -0.094597 -0.041401
G   -0.056755  0.097107 -0.078394  0.006017
H   -0.021462 -0.030257 -0.026333  0.050135
I    0.024919  0.064177 -0.107866 -0.012442
J    0.048195  0.008058 -0.031860 -0.049097
K    0.154776 -0.006967 -0.032523  0.014457
L    0.050709 -0.050057 -0.074203 -0.017332
M    0.003511  0.037562 -0.098078  0.017790
N    0.049018 -0.070432 -0.025592  0.074807
O   -0.029163 -0.106652 -0.032209  0.033589
P    0.029090 -0.053809 -0.112496  0.071654
Q   -0.039211  0.004959  0.005451  0.078698
R    0.122431  0.026587  0.031024 -0.004190
S    0.075234  0.023438  0.011438 -0.008433
T    0.158278 -0.026705 -0.082465 -0.005521
U    0.052051  0.000100  0.084444  0.016487
V   -0.010743  0.015696 -0.011879 -0.014628
W    0.161682  0.021611 -0.038462  0.029703
X    0.076329  0.013918 -0.103723  0.056276
Y    0.054109 -0.026101 -0.001929  0.058042
Z   -0.007478  0.015352  0.037670  0.026862

In [9]:
frame2=frame1.max(level='key')
frame2

          one       two     three      four
key
L    2.403216  2.921636  3.053345  2.666556
B    2.412396  2.471795  3.025273  3.372951
G    2.833891  2.921636  2.729603  3.060846
R    2.487347  2.351971  3.053345  2.666556
Q    2.130822  2.921636  2.553879  2.624526
U    2.833891  2.785971  2.730071  3.412734
K    2.412396  2.785971  2.905202  3.412734
S    2.487654  2.665060  2.548931  3.412734
8    2.130822  2.665060  2.730071  2.599800
1    2.455329  2.136200  2.189450  2.390448
P    2.412396  2.946737  2.729603  3.060846
J    2.833891  2.785971  3.053345  3.412734
E    2.487654  2.921636  2.730071  3.372951
A    2.487654  2.946737  3.053345  3.372951
F    2.403216  2.946737  3.025273  3.412734
H    2.487347  2.351971  2.905202  2.719664
W    2.833891  2.471795  2.905202  3.372951
C    2.833891  2.665060  3.025273  3.060846
V    2.833891  2.577094  2.674434  3.372951
I    2.412396  2.946737  2.553879  3.060846
6    2.403216  2.330199  3.025273  3.372951
Y    2.343104  2.785971  2.368530  3.412734
T    2.455329  2.921636  2.396933  3.412734
M    2.487654  2.921636  3.053345  3.412734
X    2.455329  2.785971  2.368530  2.719664
N    2.833891  2.946737  2.548931  3.412734
O    2.487654  2.471795  2.352849  3.412734
Z    2.412396  2.921636  3.053345  2.648046
2    1.915538  2.218110  2.730071  2.297508
D    2.343104  2.785971  2.730071  3.372951
7    2.833891  2.510964  2.674434  2.325923
0    2.455329  2.152076  3.053345  2.719664
4    2.487347  2.946737  2.553879  2.878871
5    2.317658  2.577094  3.053345  2.004594
3    2.487347  2.946737  2.905202  3.372951
9    2.455329  1.866947  3.025273  1.996144

In [10]:
frame3 = frame2.sort_index()
frame3

          one       two     three      four
key
0    2.455329  2.152076  3.053345  2.719664
1    2.455329  2.136200  2.189450  2.390448
2    1.915538  2.218110  2.730071  2.297508
3    2.487347  2.946737  2.905202  3.372951
4    2.487347  2.946737  2.553879  2.878871
5    2.317658  2.577094  3.053345  2.004594
6    2.403216  2.330199  3.025273  3.372951
7    2.833891  2.510964  2.674434  2.325923
8    2.130822  2.665060  2.730071  2.599800
9    2.455329  1.866947  3.025273  1.996144
A    2.487654  2.946737  3.053345  3.372951
B    2.412396  2.471795  3.025273  3.372951
C    2.833891  2.665060  3.025273  3.060846
D    2.343104  2.785971  2.730071  3.372951
E    2.487654  2.921636  2.730071  3.372951
F    2.403216  2.946737  3.025273  3.412734
G    2.833891  2.921636  2.729603  3.060846
H    2.487347  2.351971  2.905202  2.719664
I    2.412396  2.946737  2.553879  3.060846
J    2.833891  2.785971  3.053345  3.412734
K    2.412396  2.785971  2.905202  3.412734
L    2.403216  2.921636  3.053345  2.666556
M    2.487654  2.921636  3.053345  3.412734
N    2.833891  2.946737  2.548931  3.412734
O    2.487654  2.471795  2.352849  3.412734
P    2.412396  2.946737  2.729603  3.060846
Q    2.130822  2.921636  2.553879  2.624526
R    2.487347  2.351971  3.053345  2.666556
S    2.487654  2.665060  2.548931  3.412734
T    2.455329  2.921636  2.396933  3.412734
U    2.833891  2.785971  2.730071  3.412734
V    2.833891  2.577094  2.674434  3.372951
W    2.833891  2.471795  2.905202  3.372951
X    2.455329  2.785971  2.368530  2.719664
Y    2.343104  2.785971  2.368530  3.412734
Z    2.412396  2.921636  3.053345  2.648046

In [13]:
import numpy as np
import pandas as pd

frame=pd.read_csv('ex6.csv')
frame[frame['key'] == 'K']

           one       two     three      four key
7    -0.913135  1.530624 -0.572657  0.477252   K
63   -0.100247 -1.954614  0.132519  0.836927   K
68    0.786095  0.095137 -1.049965  1.828798   K
75   -0.112609 -2.642457 -0.487310 -0.220507   K
87   -1.049838  2.453425  1.230087 -2.068508   K
...        ...       ...       ...       ...  ..
9897 -1.577290  0.516399  1.199673 -0.512884   K
9939  1.026257  0.389163 -0.433496  0.159210   K
9975  0.010603  0.708540 -1.258711  0.226541   K
9976  0.118693 -0.714455 -0.501342 -0.254764   K
9997  0.523331  0.787112  0.486066  1.093156   K

[334 rows x 5 columns]

In [14]:
frame1=frame.set_index('key')
frame1

          one       two     three      four
key
L    0.467976 -0.038649 -0.295344 -1.824726
B   -0.358893  1.404453  0.704965 -0.200638
G   -0.501840  0.659254 -0.421691 -0.057688
R    0.204886  1.074134  1.388361 -0.982404
Q    0.354628 -0.133116  0.283763 -0.837063
..        ...       ...       ...       ...
L    2.311896 -0.417070 -1.409599 -0.515821
E   -0.479893 -0.650419  0.745152 -0.646038
K    0.523331  0.787112  0.486066  1.093156
G   -0.362559  0.598894 -1.843201  0.887292
0   -0.096376 -1.012999 -0.657431 -0.573315

[10000 rows x 4 columns]

In [15]:
frame1.sum(level='key')

           one        two      three       four
key
L    17.545360 -17.319594 -25.674226  -5.996758
B    15.440654  21.915728   0.145093  -6.301660
G   -17.480410  29.909078 -24.145209   1.853102
R    38.933116   8.454604   9.865724  -1.332338
Q   -13.331859   1.685890   1.853302  26.757406
U    16.968534   0.032534  27.528819   5.374716
K    51.695215  -2.326893 -10.862724   4.828478
S    23.171948   7.218775   3.523039  -2.597292
8    -0.013861   5.495076   7.570927  -6.411784
1    11.425734   4.112933   2.267208  -5.073376
P     9.425316 -17.434001 -36.448585  23.215831
J    16.241878   2.715519 -10.736693 -16.545773
E     7.847879   4.878314  10.793150  -4.599326
A    38.897269   2.628269  -5.545845   4.287813
F    26.900181 -16.744884 -31.690110 -13.869248
H    -7.082552  -9.984948  -8.689870  16.544615
W    49.312915   6.591499 -11.731044   9.059482
C     7.088463  -4.078655 -10.235959 -21.130100
V    -3.523774   5.148307  -3.896218  -4.798073
I     8.148561  20.985749 -35.272315  -4.068601
6    23.546088   2.108177 -19.318213  -0.770386
Y    16.990201  -8.195686  -0.605551  18.225111
T    48.116511  -8.118245 -25.069463  -1.678465
M     1.186659  12.696053 -33.150379   6.013117
X    27.783672   5.066255 -37.755315  20.484523
N    14.999531 -21.552070  -7.831130  22.890960
O   -10.002795 -36.581729 -11.047844  11.520907
Z    -2.153618   4.421509  10.848940   7.736300
2   -12.027358   8.554219   8.282886  11.080997
D     2.301488   4.553514 -17.837087  14.333665
7    13.590415 -12.158019  -8.565629  -8.948078
0     1.665408  17.743480   9.481654   6.247520
4     3.369031  -3.566079 -11.919283  19.450522
5   -21.339628  -0.830787  19.475274   6.768049
3    42.100302 -14.326627  17.516102  27.969500
9     9.765136   5.011665  -5.758177  -0.667350