In [2]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
                    columns=list('bde'),
                    index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北 -0.545793  0.423512 -0.772525
台中 -1.831410  1.412941  0.921428
台南  0.382137 -0.357315 -1.048640
高雄 -1.896028 -0.767116 -1.083698

In [3]:
np.abs(frame) #numpy的運算也可以用在pandas

           b         d         e
台北  0.545793  0.423512  0.772525
台中  1.831410  1.412941  0.921428
台南  0.382137  0.357315  1.048640
高雄  1.896028  0.767116  1.083698

In [4]:
frame

           b         d         e
台北 -0.545793  0.423512 -0.772525
台中 -1.831410  1.412941  0.921428
台南  0.382137 -0.357315 -1.048640
高雄 -1.896028 -0.767116 -1.083698

In [5]:
#自訂function
def subValue(x):
    return x.max()-x.min()

frame.apply(subValue)

b    2.278165
d    2.180056
e    2.005126
dtype: float64

In [6]:
#暱名function lambda
frame.apply(lambda x: x.max() - x.min())

b    2.278165
d    2.180056
e    2.005126
dtype: float64

In [7]:
frame.apply(lambda x: x.max() - x.min(), axis=1)

台北    1.196037
台中    3.244351
台南    1.430777
高雄    1.128912
dtype: float64

In [8]:
def subValue1(x):
    return pd.Series([x.min(), x.max()], index=['min','max'])
frame.apply(subValue1)

            b         d         e
min -1.896028 -0.767116 -1.083698
max  0.382137  1.412941  0.921428

In [12]:
frame.apply(subValue1,axis=1).T

           台北        台中        台南        高雄
min -0.772525 -1.831410 -1.048640 -1.896028
max  0.423512  1.412941  0.382137 -0.767116