In [2]:
import pandas as pd
obj=pd.Series([4, 7 , -5, 3],index=['a', 'b', 'c', 'd'])
obj

a    4
b    7
c   -5
d    3
dtype: int64

In [3]:
obj['a']

4

In [4]:
obj[['a', 'b', 'c']]

a    4
b    7
c   -5
dtype: int64

In [6]:
sdata = {'台北':35000, '桃園':71000, '台中':16000, '高雄':5000}
states = ['花蓮','高雄', '台中', '台北']
obj2=pd.Series(sdata)
obj2

台北    35000
桃園    71000
台中    16000
高雄     5000
dtype: int64

In [8]:
obj2.name = '人口數'
obj2

台北    35000
桃園    71000
台中    16000
高雄     5000
Name: 人口數, dtype: int64

In [9]:
obj2.index.name='地區'
obj2

地區
台北    35000
桃園    71000
台中    16000
高雄     5000
Name: 人口數, dtype: int64

In [21]:
import csv
import pandas as pd

with open('新北市食品工廠清冊.csv','r',encoding='utf-8') as file:
    next(file)
    temp = csv.reader(file)
    dict={item[1]:item[0] for item in temp}
    
stores = pd.Series(dict)
stores.name = '工廠統編清冊'
stores.index.name='統一編號'

統一編號
99611344             鴻輝食品廠
99604192       廣達香食品股份有限公司
99613990             順發糧食行
99600477      台灣塩野香料股份有限公司
99606467      圓金釀造食品股份有限公司
                 ...
65007117    元茂農產企業股份有限公司二廠
65007172         萬寶客股份有限公司
65007211          昆帝食品有限公司
65007246       嚐鱻食品有限公司板橋廠
65007247          崴欣國際有限公司
Name: 工廠統編清冊, Length: 1232, dtype: object

In [22]:
#DataFrame
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
frame = pd.DataFrame(data)
frame

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [23]:
frame['縣市']

0    台北
1    台北
2    台北
3    新竹
4    新竹
5    新竹
Name: 縣市, dtype: object

In [25]:
frame['年份']

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: 年份, dtype: int64

In [26]:
frame['人口']

0    2.2
1    2.5
2    2.7
3    1.1
4    1.5
5    2.0
Name: 人口, dtype: float64

In [ ]:
#重新排序欄位順序