In [1]:
#DataFrame和Series的基礎功能
import pandas as pd

obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [4]:
#使用reindex()重新新排序索引
obj=obj.reindex(['a', 'b', 'c', 'd'])
obj

a   -5.3
b    7.2
c    3.6
d    4.5
dtype: float64

In [8]:
import numpy as np
#DataFrame 的reindex()

frame=pd.DataFrame(np.arange(9).reshape((3,3)),
            index=['a', 'c', 'd'],
            columns = ['台北', '台中', '高雄']
            )
frame

   台北  台中  高雄
a   0   1   2
c   3   4   5
d   6   7   8

In [10]:
#使用reindex()新增row
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
frame2

    台北   台中   高雄
a  0.0  1.0  2.0
b  NaN  NaN  NaN
c  3.0  4.0  5.0
d  6.0  7.0  8.0

In [13]:
#使用reindex()移除列
frame3 = frame2.reindex(['a', 'd'])

In [15]:
frame3.reindex(columns=['台中', '台北', '高雄'])

    台中   台北   高雄
a  1.0  0.0  2.0
d  7.0  6.0  8.0

In [16]:
frame3.reindex(columns=['台北','台中'])

    台北   台中
a  0.0  1.0
d  6.0  7.0