In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.209131 -0.780308
1    a  two -0.032739 -0.123542
2    b  one  0.306740  0.153631
3    b  two -1.441327 -0.451294
4    a  one -2.531001  0.598956

In [3]:
grouped = df['data1'].groupby(df['key1'])
grouped

In [4]:
grouped.mean()

key1
a   -0.924290
b   -0.567294
Name: data1, dtype: float64

In [5]:
means=df['data1'].groupby([df['key1'],df['key2']]).mean()

key1  key2
a     one    -1.370066
      two    -0.032739
b     one     0.306740
      two    -1.441327
Name: data1, dtype: float64