In [1]:
import pandas as pd

In [2]:
obj=pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [3]:
#values屬性

obj.values #ndarray

array([ 4,  7, -5,  3])

In [4]:
#index屬性
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
import numpy as np
np.array([4, 7, -5, 3])

array([ 4,  7, -5,  3])

In [6]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [7]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [8]:
obj2['a']

-5

In [9]:
obj2['d'] = 6
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [10]:
#中括號使用list可以取出多個值
obj2[['a', 'b', 'c']]

a   -5
b    7
c    3
dtype: int64

In [11]:
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [12]:
obj2 * 10

d    60
b    70
a   -50
c    30
dtype: int64

In [14]:
con = obj2 > 0
con

d     True
b     True
a    False
c     True
dtype: bool

In [15]:
#過濾filter
obj2[con]

d    6
b    7
c    3
dtype: int64

In [16]:
obj2[obj2>0]

d    6
b    7
c    3
dtype: int64

In [20]:
import numpy as np
obj2
np.power(obj2, 3)

d    216
b    343
a   -125
c     27
dtype: int64

In [21]:
sdata = {'台北':35000, '桃園':71000, '台中':16000, '高雄':5000}
obj3 = pd.Series(sdata)
obj3

台北    35000
桃園    71000
台中    16000
高雄     5000
dtype: int64

In [22]:
sdata = {'台北':35000, '桃園':71000, '台中':16000, '高雄':5000}
obj4 = pd.Series(sdata,index=['高雄', '台中', '桃園', '台北'])
obj4

高雄     5000
台中    16000
桃園    71000
台北    35000
dtype: int64

In [23]:
obj5 = pd.Series({'台北':105000, '桃園':61000, '台中':46000, '高雄':7000})
obj5

台北    105000
桃園     61000
台中     46000
高雄      7000
dtype: int64

In [24]:
obj4 + obj5

台中     62000
台北    140000
桃園    132000
高雄     12000
dtype: int64

In [25]:
obj5

台北    105000
桃園     61000
台中     46000
高雄      7000
dtype: int64

In [26]:
obj5.name = '縣市人口'
obj5

台北    105000
桃園     61000
台中     46000
高雄      7000
Name: 縣市人口, dtype: int64

In [29]:
obj5.index.name = '縣市'
obj5

縣市
台北    105000
桃園     61000
台中     46000
高雄      7000
Name: 縣市人口, dtype: int64

In [ ]:
file = open('新北市食品工廠清冊.csv', 'r', encoding='utf-8)